* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(160deg, #2DA8B8 0%, #43BCCD 100%);
    background-attachment: fixed;
    margin: 0;
}

.navbar {
    align-items: center;
    background-color: #F7F7F7;
    color: #414141;
    display: flex;
    font-family: 'Koulen';
    height: 4.5rem;
    justify-content: space-between;
    position: sticky;
}

.navbar-links ul {
    display: flex;
    list-style: none;
    padding-right: 3rem;
}

.navbar-links ul li {
    padding-left: 3rem;
}

.navbar-links ul li a {
    color: inherit;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.1s;
}

.navbar-links ul li a:hover {
    color: rgb(102, 53, 53);
}

.portfolio-name {
    font-family: 'Koulen';
    font-size: 1.75rem;
    padding-left: 1.5rem;
}

.portfolio-name a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
    max-width: 2rem;
    max-height: 2rem;
}

image:hover {
    background-color: red;
}